#game {
	display: flex;
	justify-content: center;
	font-family: "Helvetica";
}

#match {
	display: flex;
	justify-content: center;
	font-family: "Helvetica";
}

.char {
	position: relative;
	background-size: 10vw auto;
	background-blend-mode: color-dodge;
	background-color: #686868;
	color: black;
	margin: 1vw;
	background-repeat: no-repeat;
	display: flex;
	width: 10vw;
	height: 12vw;
	border-style: solid;
	border-color: #686868;
	border-width: .5vw;
}