#game {
	display: flex;
	justify-content: center;
	font-family: "Helvetica";
}

#match {
	display: flex;
	justify-content: center;
	font-family: "Helvetica";
}

#match button {
	height: 2vw;
	border-color: red;
	border-width: 3px;
	border-radius: 1vw
}

#banner {
	width: 100vw;
	position: relative;
	margin: 2vw 0 2vw 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#banner button {
	height: 2vw;
	border-color: lime;
	margin: 10px;
	border-width: 3px;
	border-radius: 1vw
}

.char {
	position: relative;
	background-size: 10vw auto;
	background-blend-mode: color-dodge;
	background-color: #686868;
	color: black;
	margin: 1vw;
	background-repeat: no-repeat;
	display: flex;
	width: 10vw;
	height: 12vw;
	border-style: solid;
	border-color: #686868;
	border-width: .5vw;
}